.content{
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px;
}

.contentWrapper{
    display: flex;
    justify-content: center;
    width: 60%;
}

.maps{
    display: flex;
    justify-content: center;
    height: 40vh;
    width: 80%;
}