.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.location__container{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.location__container_direction{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.container__paragraph{
    margin: 0;
    padding: 0;
}
.location__address_span{
    font-family: var(--font-family-sans);
    font-weight: bold;
    font-variant: small-caps;
}
.location__separator{
    flex: 1;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.location__separator_element{
    border-radius: 10%;
    box-shadow: 0 2px 2px -3px #2b2b2b;
}
:root {
    --font-family-comic : "Comic Sans MS";
    --font-family-sans : sans-serif;
    --font-family-fantasy : fantasy;
    --color-text-white : rgb(255, 255, 255);
    --color-text-black : rgb(0, 0, 0);
    --color-text-gray : rgba(255, 255, 255, 0.555);
}