.footer {
  display: flex;
}

.footer--background {
  background-color: #000;
}

.footer__content {
  flex: 1;
  color: white;
}

.footer__content--paddingVertical {
  padding: 40px 0px;
}

.footer__content--alignRight {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
.footer__content--alignLeft {
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
}
.footer__content__contactForm {
  display: flex;
  flex-direction: column;
}
.footer__content__contactForm__fields{
  display: flex;
}