.footer {
  display: flex;
}

.footer--background {
  background-color: #000;
}

.footer__contact {
  flex: 1;
}

.footer--paddingVertical {
  padding: 40px 0px;
}

.footer__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__info__socialNetworks {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__info__socialNetworks__iconsWrapper {
  width: 15%;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

.footer__info__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.footer--alignLeft {
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
}

.footer__contact__form {
  display: flex;
  flex-direction: column;
}

.footer__contact__form__fields{
  display: flex;
}

.footer__contact__form--text {
  font-weight: bold;
  font-size: 18px;
}

.footer--textColor {
  color: white;
}