.container{
    height: 100vh;
    background-color: #121212;
}
.container_position{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__FormContainer{
    background-color: transparent;
    margin-top: -100px;
    width: 100%;
    height: 70%;
}
.container__FormContainer_position{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.Form{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 30%;
}
.Form__container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
}
.Form__container_short{
    display: flex;
    align-items: center;
    height: fit-content;
    width: 50%;
}
.Form__container_large{
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
}
.Form__input{
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: 1px solid rgba(56, 54, 54, 0.76);
    transition: .3s ease-in;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 100%;
}
.Form_label{
    position: absolute;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    margin-left: 19px;
    transition: 1s;
}
.Form__button{
    font-weight: bold;
    transition: .3s;
    color: rgb(0, 0, 0);
    background-color: rgb(144, 202, 249);
    border: 2px solid rgba(56, 54, 54, 0.76);
    border-radius: 10px;
    margin: 10px;
    width: 100%;
    padding: 20px;
}
.Form__nav{
    text-decoration: none;
    transition: .3s;
    color: rgb(144, 202, 249);
    margin: 20px;
}
.Form__tittle{
    font-weight: bold;
    color: rgb(248, 242, 242);
}
.Form__tittle_position{
    display: flex;
    justify-content: center;
}
.Form__nav_position{
    display: flex;
    justify-content: flex-end;
}
.Form__nav:active{
    color: rgba(56, 54, 54, 0.76);
}
.Form__button:hover{
    background-color: rgb(72, 103, 128);
}
.Form__nav:hover{
    color: rgb(72, 103, 128);
}
.Form__input_event:focus ~ .Form_label,
.Form__input_event:valid ~ .Form_label
{
    animation-name: toTop;
}

.Form__input_event:placeholder-shown{
    color: transparent;
}
.Form__input_event:focus{
    border: 1px solid rgba(252, 251, 251, 0.904);;
}
.Form__input_event:hover{
    border: 1px solid rgba(252, 251, 251, 0.904);;
}


@keyframes toTop {
    from{
        color: rgb(248, 242, 242);
        transform: translateY(-1px);
    }
    to{
        color: rgb(88, 86, 86);
        transform: translateY(-30px);
    }
}

@keyframes toDown{
    from{
        color: white;
        transform: translateY(1px);
    }
    to{
        color: white;
        transform: translateY(20px);
    }
}